@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qqk2uc');
  src:  url('../fonts/icomoon.eot?qqk2uc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qqk2uc') format('truetype'),
    url('../fonts/icomoon.woff?qqk2uc') format('woff'),
    url('../fonts/icomoon.svg?qqk2uc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eyedropper:before {
  content: "\e90a";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-mic:before {
  content: "\e91e";
}
